__pycache__/
*.pyc
*.pyo
*.pyd

.env
venv/
.venv/

app/uploads/*
!app/uploads/.gitkeep
!app/uploads/resumes/
!app/uploads/resumes/.gitkeep

app/vector_store/faiss_index/*
!app/vector_store/faiss_index/.gitkeep

.DS_Store
